.chart-container {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.chart-container h4 {
  color: #6b21a8;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
