.map-container {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.map-container h4 {
  background-color: #6b21a8;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.leaflet-container {
  height: 300px;
  width: 100%;
}
