.qr-section {
  background: linear-gradient(to right, #6b21a8, #22c55e);
  border-radius: 15px;
  color: white;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.qr-section h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.qr-link a {
  color: #fff;
  text-decoration: underline;
}
