.selector-container {
  margin-top: 40px;
  background: white;
  color: #333;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.selector-container:hover {
  transform: translateY(-5px);
}

.heading {
  color: #6b21a8;
  font-size: 1.8rem;
}

.sub-heading {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
}

.dropdown-section select {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #6b21a8;
  width: 80%;
  transition: all 0.3s ease;
}

.dropdown-section select:focus {
  border-color: #22c55e;
  outline: none;
}

.btn-show {
  background: linear-gradient(to right, #6b21a8, #22c55e);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-show:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.6);
}
